<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Hello World</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />

</head>
<body>
    <div class="container">
        <menu>
            <ul>
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/employees/list}">Employees</a></li>
                <li><a th:href="@{/employees/showFormForAdd}">Add Employee</a></li>
            </ul>
        </menu>
    </div>
</body>
</html>
