<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<div th:replace="~{fragments/head :: head}"></div>

<body>

<div th:replace="~{fragments/header :: header}"></div>

<main>
	<div class="container">
		<div class="row">

			<div class="col s12">
				<h3 class="text-lg">Student Directory</h3>
				<a th:href="@{/students/showFormForAdd}" class="btn waves-effect waves-light">
					Create Student
					<i class="material-icons right">add_circle_outline</i>
				</a>
				<table class="">
					<thead class="">
					<tr>
						<th scope="col" class="">
							ID
						</th>
						<th scope="col" class="">
							First Name
						</th>
						<th scope="col" class="">
							Last Name
						</th>
						<th scope="col" class="">
							Email
						</th>
						<th class="right" scope="col" >
							Actions
						</th>
					</tr>
					</thead>

					<tbody>

					<tr th:each="student : ${students}"  class="hoverable">
						<td th:text="${student.Id}" class="pa-10">
							Id
						</td>
						<td th:text="${student.firstName}" class="">
							First Name
						</td>
						<td th:text="${student.lastName}" class="">
							Last Name
						</td>
						<td th:text="${student.email}" class="">
							Email
						</td>
						<td class="right">
							<a th:href="@{/students/showFormForUpdate(studentId=${student.id})}" class="btn btn-primary">
								Update
							</a>
							<a th:href="@{/students/delete(studentId=${student.id})}" class="btn btn-danger red" onclick="if (!confirm('Are you sure?')) { return false; }">
								Delete
							</a>
						</td>
					</tr>

					</tbody>
				</table>
			</div>

		</div>
	</div>
</main>


<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>




